@page
@model IndexModel
@{
    ViewData["Title"] = "Example";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<!--
<div class="card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">  </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
        </div>
    }
</div>
-->
<div>
    <form>
        <label>First Name</label>
        <input type="text" placeholder="FirstName"/ @onkeydown>
    </form>
</div>
